.questionnaire {
  height: 100vh;
  width: 100vw;

  .progress-bar {
    background-color: white;

    .active {
      background-color: red;
    }
  }

  .item-content {
    display: flex;

    .item-content-wrapper {
      position: relative;
      width: 50%;
      height: 100vh;
      padding: 131px 105px;
      background-color: $white;

      h2 {
        font-family: 'Rowdies', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 79px;
        @include flex(center, center);
        text-align: center;
        color: $redberry_red;
      }

      .item-inputs {
        margin-top: 50px;
        @include flex(center, center);
        flex-direction: column;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }

        input, .skill-selector {
          width: 455px;
          height: 54px;
          margin-top: 37px;
          padding-top: 17px;
          padding-bottom: 13px;
          padding-left: 57px;
          border: 1px solid #525557;
          font-family: 'Montserrat', cursive;
          font-style: italic;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          outline: none;
        }
      }

      .progress_bar {
        position: absolute;
        bottom: 10%;
        left: 33%;
        @include flex(center, center);
        height: 19px;
        margin-top: 120px;

        a {
          padding: 3px;
          @include flex(center, center);

          .fa-chevron-left {
            width: 21px;
            height: 21px;
            color: #FE3B1FFF;
            border: 3px solid #FE3B1F;
            border-radius: 50%;
          }
        }

        ol.carousel-indicator {
          @include flex(center, center);
          margin-bottom: 0;

          li {
            width: 19px;
            height: 19px;
            margin: 17px;
            background-color: #FE3B1FFF;
            border-radius: 50%;
            opacity: 0.1;
          }

          li.active {
            opacity: 1;
          }
        }
      }
    }

    .about-redberry-wrapper {
      width: 50%;
      height: 100vh;
      padding: 131px 80px 131px 180px;
      @include flex(flex-start, flex-start);
      flex-direction: column;
      background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);

      h2 {
        font-family: 'Rowdies', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 79px;
        color: #FE3B1FFF;
        text-align: center;
      }

      p {
        width: 705px;
        padding: 50px 0;
        font-family: 'Montserrat', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 200%;
        text-align: left;
        letter-spacing: 0.05em;
        color: $white;
      }
    }
  }

  .item-content.technical-skills-content {
    .add-skills-wrapper {
      @include flex(center, center);
      flex-direction: column;

      .item-inputs {
        .skill-select_box {
          position: relative;

          select.skill-selector {
            position: relative;
            z-index: 99;
            background: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';

            option {
              height: 30px;
              margin: 5px;
              line-height: 30px;
              padding: 10px;
            }
          }

          &::after {
            position: absolute;
            top: 60%;
            right: 23px;
            content: url(/images/Vector.svg);
            z-index: 98;
          }
        }

        .add-programming-language {
          width: 201px;
          height: 32px;
          margin-top: 22px;
          align-self: end;
          background-color: #FE3B1FFF;
          font-family: 'Montserrat', cursive;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          border: 0;
          color: #FFFFFFFF;
        }
      }

    }

  }
}